@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
}

#cssmenu ul li a {
	padding: 12px 0;

}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: "Open Sans",sans-serif;
  background:none;
  float:right;
  margin-top: 10px;
}

#cssmenu > ul > li {
  float: left;
  margin:0 42px;
}

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}


#cssmenu > ul > li > a {
	padding: 17px;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #423939;
	font-weight: 300;
	text-transform: uppercase;
}

#cssmenu > ul > li:hover > a {
  color: #ffffff;
  
}

#cssmenu b, strong {
	font-weight: 300;
}

#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index: 99;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}



#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #836d56  !important;
  border-bottom: solid #d8b495 1px !important;
}


 .submenu-button{
   top: -21px;
 }


@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  /*#cssmenu ul {
	width: 100%;
	display: none;
	background: #423939;
}*/

#cssmenu > ul > li {
	float: left;
	margin: 12px 0;
	padding-left: 11px;
}
  
 #cssmenu > ul > li > a {
    padding: 17px;
    font-size: 12px;
}
  
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: none;
  }
  #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
    color:#d8b495 !important;
    background:#NONE !important;
  }

#cssmenu ul li a.active, #cssmenu ul li a:hover{

  color:#d8b495 !important;
  border-bottom: solid #d8b495 1px;
}





  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }

#cssmenu #menu-button {
	display: block;
	padding: 17px;
	color: #836d57;
	cursor: pointer;
	font-size: 0;
	text-transform: uppercase;
	font-weight: 700;
	}
#cssmenu #menu-button::before {
	position: absolute;
	top: 16px;
	right: 17px;
	display: block;
	height: 2px;
	width: 23px;
	background: #836d57;
	content: '';
	}

#cssmenu #menu-button::after {
	position: absolute;
	top: 22px;
	right: 17px;
	display: block;
	height: 7px;
	width: 23px;
	border-top: 2px solid #836d57;
	border-bottom: 2px solid #836d57;
	content: '';
	}


  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #836d57;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #836d57;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #262626;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
  
#cssmenu > ul > li {
	float: left;
	margin: 12px 0;
}

}


#cssmenu ul li a {
  padding: 4px 0;
}




#cssmenu ul li.has-sub ul{ width: 100%; }


@media(max-width:1366px){
  .news_detail1_middle_right img {
    width: 100%;
}

}
@media(max-width:1200px){
	#cssmenu > ul > li {
    float: left;
    margin: 0 15px;
    
	}
}
@media(max-width:1024px){
  .hedding {
    margin-top: 105px;
}
#cssmenu > ul > li:hover > a{

  color: #fff!important;
}
	.header-top-right #cssmenu>ul{display:none;}
	
.header-top-right .cssmenu .open {
	    background: #423939;
}
	#cssmenu > ul > li > a {
    font-size: 12px;
    color: #fff;
	}
#cssmenu > ul > li {
    float: left;
    margin: 10px 0px;
	}
	
.header-top-right .dropdown-menu{
 top: 23px;
}
}

@media screen and (max-width: 1000px){


  #cssmenu > ul > li {
	float: left;
	margin: 0 24px;
}


 
}



@media screen and (max-width: 991px){

.news_detail1_middle_right{

  bottom:0px; 
}
  #cssmenu > ul > li {
	float: left;
	margin: 0 9px;
}
 
}






@media screen and (max-width: 950px){

nav.navbar + #wrapwrap {
    padding-top: 34px;
}


#cssmenu > ul > li {
    float: left;
    margin: 10px 0px;
}

/* #cssmenu ul li:last-child a {
	padding: 10px 4px !important;
	margin-top: 6px;
}
*/



.home-page #cssmenu ul li a.active, #cssmenu ul li a:hover {
	margin-top: 1px;
}


}


@media screen and (max-width: 850px){
#cssmenu > ul > li > a {
	font-size: 14px;

}

#cssmenu > ul > li {
	float: left;
	margin: 12px 11px;
}
}
@media screen and (max-width: 767px){

nav.navbar + #wrapwrap {
    padding-top: 0;
}

#cssmenu > ul > li {
	float: left;
	margin: 14px 14px;
}



}



@media screen and (max-width: 750px){
#cssmenu {
	margin-top: 15px;
}
#cssmenu > ul > li {
	float: left;
	margin: 13px 9px;
}

.homepage_slider .item.active > img {
    width: 100%;
    height: 500px;
}


}

@media screen and (max-width: 720px){



#cssmenu {
	float: left;
	margin-left: 28px;
}
#cssmenu > ul > li {
	float: left;
	margin: 13px 9px;
}

}

@media screen and (max-width: 687px){
#cssmenu {
	float: left;
	margin-left: 16px;
}
#cssmenu > ul > li {
	float: left;
	margin: 13px 7px;
}

}

@media screen and (max-width: 670px){
#cssmenu > ul > li {
	float: left;
	margin: 13px 5px;
}
}


@media screen and (max-width: 637px){
#cssmenu > ul > li {
	float: left;
	margin: 13px 9px;
}

#cssmenu > ul > li > a {
	font-size: 12px;
	
}
}


@media screen and (max-width: 611px){
#cssmenu {
	float: left;
	margin-top: 10px;
}

#cssmenu > ul > li {
	float: left;
	margin: 12px 6px;
}


}



@media screen and (max-width: 500px){

.home-page #cssmenu > ul > li > a {
	color: #fff !important;
}



#cssmenu > ul > li {
	float: left !important;
	margin: 7px 0px !important;
	padding-left: 13px !important;
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 0px solid !important;
	font-size: 12px;
	color: #fff;
	width: 100%;
	/* height: 169px; */
	padding-bottom: 5px;
}





}




